accelerate==0.32.1
datasets==2.20.0
numpy==2.0.0
openai==1.35.13
peft==0.11.1
PyPDF2==3.0.1
Requests==2.32.3
scikit_learn==1.5.1
sentence_transformers==3.0.1
torch==2.2.2
tqdm==4.66.4
transformers==4.42.4
trl==0.9.6
wandb==0.17.4
